body {
  margin: 0;
  background-color: rgb(175, 175, 175);
  width: 100%;
  height: 100vh;
}
.header {
  width: 100%;
  height: 16vh;
  background-color: rgb(65, 65, 65);
}

.main-content {
  margin: auto;
  width: 80%;
  height: 84vh;
  background-color: white;
}
.footer {
  margin: auto;
  width: 80%;
  height: 10vh;
  background-color: rgb(24, 24, 24);
}
/* border-style: solid;
  border-top-width: thick;
  border-top-color: rgb(65, 65, 65);

  border-left-width: thick;
  border-left-color: rgb(211, 209, 209);

  border-right-width: thick;
  border-right-color: rgba(231, 229, 229, 0.904);

  border-bottom-width: thick;
  border-bottom-color: rgb(24, 24, 24); */
