body {
  background-color: rgb(189, 189, 189);
  margin: 0;
  height: 100vh;
}

.header {
  background-color: rgb(54, 54, 54);
  height: 150px;
}
.main {
  background-color: white;
  width: 70%;
  height: 450px;
  margin: auto;
}

.footer {
  background-color: rgb(26, 25, 25);
  height: 100px;
  width: 70%;
  bottom: 0;
  margin: auto;
}
